.opacitable{
    opacity: .75;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}

canvas{
vertical-align: inherit!important;
}

#left-sidebar {
    position: absolute!important;
    left: -351px;
    top: 130px;
    width: 350px;
    background: #333;
    height: 235px;
    color: white;
    z-index: 1000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transition: left .75s ease;
    -moz-transition: left .75s ease;
    -ms-transition: left .75s ease;
    -o-transition: left .75s ease;
    transition: left .75s ease;
}

#left-sidebar:hover{
    opacity: 0.9;
}

#left-sidebar.open { left: 0; }

#left-tab {
    display: inline;
    position: relative!important;
    right: -32px;
    float: right;
    background: #333;
    padding: 6px 5px 3px 2px;
    cursor: pointer;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

#left-tab i { padding-left: 3px; }

#left-sidebar-inner {
    padding: 10px;
    overflow: auto;
    width: 300px;
    display: inline-block;
}

#left-sidebar-inner li {
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
}

.leaflet-popup-content{
    width:400px!important;
}

.valorMedicion{
    font-size: 50px;
    display: inline-block;
    width: 210px;
    text-align: right;
}
.unidadMedicion{
    font-size: 15px;
    vertical-align: top;
    line-height: 41px;
}

.grafico {
    width: 180px;
    height: 40px;
    display: inline-block;
    line-height: 55px;
    border: 1px solid black;
}

#left-tab i  {
    font-size: 24px;
    display: inline-block;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}

.rotated {
    transform: rotate(180deg) translateX(-2px) translateY(4px);
    -webkit-transform: rotate(180deg) translateX(-2px) translateY(4px);
    -moz-transform: rotate(180deg) translateX(-2px) translateY(4px);
    -o-transform: rotate(180deg) translateX(-2px) translateY(4px);
    -ms-transform: rotate(180deg) translateX(-2px) translateY(4px);
}

.leaflet-marker-icon{
    font-size: 20px;
}

.parpadeo{
    color: #ff0000;
    text-shadow: 0px 0px 10px #300000;

    -webkit-animation: parpadeo 0.5s;
    -moz-animation: parpadeo 1s;
    animation: parpadeo 0.5s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes parpadeo {
    0% { text-shadow: 0px 0px 1px #ff0000, 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000; }
    50%  { text-shadow: 0px 0px 1px #ff0000, 0px 0px 20px #ff0000, 0px 0px 40px #ff0000, 0px 0px 60px #ff0000; }
    100% { text-shadow: 0px 0px 1px #ff0000, 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000; }
}

@keyframes parpadeo {
    0% { text-shadow: 0px 0px 1px #ff0000, 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000; }
    50%  { text-shadow: 0px 0px 1px #ff0000, 0px 0px 20px #ff0000, 0px 0px 40px #ff0000, 0px 0px 60px #ff0000; }
    100% { text-shadow: 0px 0px 1px #ff0000, 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000; }
}