<html ng-app="SmartCity" ng-controller="mapControl">

<head>
    <title></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div >
        <!-- <leaflet center="concepcion" markers="markers" layers="layers" width="100%" height="100%"></leaflet> -->
        <div  id='map' width="100%" height="100%"></div>

        <div class="casas opacitable" id="left-sidebar">
            <div id="left-tab" style="top: 102px;">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <div id="left-sidebar-inner">
                <h3>Casas</h3>
                <ul>
                    <li ng-repeat="casa in casas" ng-click="ToggleCasas(casa.casa_uuid, casa.latitud, casa.longitud)">
                        <i ng-show="BuscaUUID(casa.casa_uuid)>-1" class="glyphicon glyphicon-eye-open"></i>
                        <i ng-hide="BuscaUUID(casa.casa_uuid)>-1" class="glyphicon glyphicon-eye-close"></i>
                        {{casa.nombre}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- depencias de angularjs -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--
     <script src="bower_components/leaflet/dist/leaflet.js"></script>
     <script src="bower_components/angular-leaflet/dist/angular-leaflet-directive.min.js"></script>
    -->
    <script src="js/leaflet.js"></script>

	<!-- recursos externos a angular -->
    <script src="js/recursos/jquery.sparkline.min.js"></script>

    <!-- main.js -->
    <script src="js/main.js"></script>

    <!-- configuracion e init de angular -->
    <script src="js/app.js"></script>

    <!-- controladores y servicios de map -->
    <script src="js/controllers/map.js"></script>
    <script src="js/services/map.js"></script>
    <script src="js/services/casas.js"></script>
    <script src="js/services/sparkline.js"></script>
    <script src="js/services/shared.js"></script>
    <script src="js/directives/popup.js"></script>
</body>

</html>
