<div style="width:400px;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#consumo-{{uuid}}" role="tab" data-toggle="tab">Energia</a>
        </li>
        <li><a href="#temperatura-{{uuid}}" role="tab" data-toggle="tab">Temperatura</a>
        </li>
        <li><a href="#iluminacion-{{uuid}}" role="tab" data-toggle="tab">Iluminacion</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="consumo-{{uuid}}">
            <div class="valorMedicion">
                {{content.consumo_electrico| number:2}}
                <span class="unidadMedicion">w</span>|
            </div>
			<div class="grafico">
                <span jq-sparkline ng-model="data_graph.consumo_electrico" opts="{{ {type:'line', width:'178px', height:'38px', disableHiddenCheck: true, disableTooltips: true} }}">Loading...</span>
            </div>
        </div>
        <div class="tab-pane" id="temperatura-{{uuid}}">
            <div class="valorMedicion">
                {{content.temperatura| number:2}}
                <span class="unidadMedicion">o</span>|
            </div>
            <div class="grafico">
            	<span jq-sparkline ng-model="data_graph.temperatura" opts="{{ {type:'line', width:'178px', height:'38px', disableHiddenCheck: true, disableTooltips: true} }}">Loading...</span>
            </div>
        </div>
        <div class="tab-pane" id="iluminacion-{{uuid}}">
            <div class="valorMedicion">
                {{content.nivel_luz| number:2}}
                <span class="unidadMedicion">lux</span>|
            </div>
            <div class="grafico">
            	<span jq-sparkline ng-model="data_graph.nivel_luz" opts="{{ {type:'line', width:'178px', height:'38px', disableHiddenCheck: true, disableTooltips: true} }}">Loading...</span>
            </div>
        </div>
    </div>
</div>
